doctype html 
html(lanag="en")
    head
        title Home Page 
    body
        h2 Welcome to Home Page
        p #{message}
        p If you have member account then go for "sign in", else "sign up" an account!
        form(action='/signed', method='post')
            label email:
                input(type='text', name='usermail')
                br
            label password:
                input(type='text', name='userpwd')
                br
            input(type='submit', name='sign-up', value='Register')
            input(type='submit', name='sign-in', value='Log in')
            
            